body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #4CAF50;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.p {
    width: 300px; /* Ширина елемента */
    text-align: center; /* Вирівнює текст по центру */
    display: flex; /* Використовує флекс-контейнер для розміщення дочірніх елементів */
    justify-content: center; /* Центрує елементи по горизонталі всередині флекс-контейнера */
    margin: 0 auto; /* Центрує елемент горизонтально в батьківському контейнері */
}
