/* Стилі для макету */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    flex: 1;
    padding-right: 20px;
}

/* Стилі для контейнера балансу та кнопки */
.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px; /* Додаємо відступи для кращого вигляду */
    width: 100%; /* Забезпечуємо, що елементи займають всю ширину */
}

.balance-container h1 {
    margin: 0;
}

.btn-send {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-send:hover {
    background-color: #45a049;
}

.btn-log {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-log:hover {
    background-color: #0056b3;
}

/* Стилі для тексту балансу */
.balance_text {
    font-size: 20px;
    background: lightgrey;
    margin: 5px;
    width: 200px;
    padding: 10px; /* Додано для покращення вигляду */
    text-align: center; /* Центрування тексту */
}

.history_text {
    text-align: center;
}

/* Стилі для історії транзакцій */
.transaction-history {
    width: 550px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: sticky;
    top: 20px;
}

.transaction-history h2 {
    margin-top: 0;
    font-size: 20px;
}

.transaction-history ul {
    list-style: none;
    padding-left: 16px;
    margin: 0;
}

.transaction-history li {
    margin: 10px 0;
    font-size: 14px;
}

/* Стилі для повідомлень */
.messages {
    margin-bottom: 15px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Стилі для форми */
form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* Стилі для контейнера балансу та кнопки */
.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-send {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-send:hover {
    background-color: #45a049;
}

.balance_text {
    font-size: 20px;
    background: lightgrey;
    margin: 5px;
    padding: 1px;
    text-align: center;
    width: 200px;
}

