{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
</head>
<body>
<header>
        <h1>Реєстрація в TOPBANK</h1>
    </header>
    <div class="login-container">
        <h2>Вхід</h2>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логін" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Увійти</button>
        </form>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <p class="NoAccount">Немає акаунту? <a href="/register">Зареєструватися</a></p>
        <p class="Password-ress">Забули пароль? <a href="/reset_password">Відновити</a></p>
    </div>

</body>
</html>
