{% load static %}<
!DOCTYPE html>
<html>
<head>
    <title>Відновлення пароля</title>
</head>
<body>
    <h2>Вітаємо, {{ user.username }}!</h2>
    <p>Ви отримали цей лист, оскільки ми отримали запит на відновлення пароля для вашого облікового запису на нашому сайті.</p>
    <p>Щоб скинути пароль, перейдіть за наступним посиланням:</p>
    <p><a href="{{ reset_link }}">Скинути пароль</a></p>
    <p>Якщо ви не робили цей запит, просто ігноруйте цей лист.</p>
    <p>З найкращими побажаннями,<br>Ваша команда</p>
</body>
</html>
